@font-face {
  font-family: 'poorrichard';
  src: url('./fonts/poorrichard.ttf') format('truetype'); 
}

html, body, #root {
  height: 100%;
  font-family: poorrichard;
  background-color: #f1f1f1;
  color: black;
}

#container {
  flex-grow: 1;
  min-height: 100%;
}

@keyframes ltrAnimation {
  0%   {left:-100vw;}
  100% {left:0px;}
}

.divid {
  position: relative;
  animation-name: ltrAnimation;
  animation-duration: 3s;
}

#imgExp, #imgEdu {
  filter: grayscale();
}

#imgExp:hover, #imgEdu:hover {
  filter: none;
}

#fw1, #fw2, #fw3, #fw4, #fw5 {
  font-size: 64px
}

#fw0 {
  font-size: 100px
}

@media only screen and (max-width: 500px) {
  #fw1, #fw2, #fw3, #fw4, #fw5 {
    font-size: 10vw
  }
  #fw0 {
    font-size: 15vw
  }
} 
